<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <title>Description Page</title>-->
<!--    <style>-->
<!--   body {-->
<!--        background-color:#3e3e3e;-->
<!--        color:white;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--    <center>-->
<!--        <h1>Welcome to Spring Boot Security</h1>-->

<!--        <form method="post" action="/admin/login">-->
<!--            <p>-->
<!--                <label for="username" class="sr-only">Username</label>-->
<!--                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">-->
<!--            </p>-->
<!--            <p>-->
<!--                <label for="password" class="sr-only">Password</label>-->
<!--                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">-->
<!--            </p>-->
<!--            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--            <h3><a th:href="@{/register}">Register</a></h3>-->
<!--        </form>-->
<!--    </center>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=off">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aru-taboraCollege</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
<!--        body{-->
<!--        background-color:#3e3e3e;-->
<!--        color:white;-->
<!--        }-->
    </style>
</head>
<body>
<center><h2 class="form-signin-heading">Please sign in Aru-taboraCollege</h2></center>
<div class="container">
    <form class="form-signin" method="post" action="/admin/login">
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body></html>