<!DOCTYPE html>
<html >
<head>
   <!-- //<meta charset="ISO-8859-1">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=off">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tabora Aru  </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
   <style>
    body{
       background-color:#3e3e3e;
       color:white;
    }
    </style>
</head>
<body>
<!--<div class="container text-center">-->
  <center><h1>Welcome to Aru-Tabora College</h1></center>
    <div class="container">
        <form class="form-signin" method="get" action="/login">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
    <div class="container">
        <form class="form-signin" method="get" action="/register">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
        </form>
    </div>
<!--    <h3><a th:href="/admin/dashboard">List of Users</a></h3>-->
<!--    <h3><a th:href="/register">Register</a></h3>-->
<!--    <h3><a th:href="/login">Login</a></h3>-->
<!--</div>-->

</body>
</html>



<!--<!DOCTYPE html>-->
<!--    <html lang="en"><head>-->
<!--    <title>Aru-taboraCollege</title>-->
<!--        <meta charset="utf-8">-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=off">-->
<!--        <meta name="description" content="">-->
<!--        <meta name="author" content="">-->
<!--        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
<!--        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">-->
<!--    <style>-->
<!--        body{-->
<!--             background-color:#3e3e3e;-->
<!--             color:white;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<center>-->
<!--<h1>Welcome to Tabora-aru College </h1><P>&#128512;</P>-->
<!--</center>-->
<!--    <div class="container">-->
<!--        <form class="form-signin" method="get" action="/register">-->
<!--            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>-->
<!--        </form>-->
<!--    </div>-->
<!--<center>-->
<!--    <h3><a href="/@{/register}">Register</a></h3>-->
<!--</center>-->

<!--</body>-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    &lt;!&ndash;    <meta charset="ISO-8859-1">&ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=On">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
<!--    <title>Aru-taboraCollege</title>-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
<!--    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">-->
<!--    &lt;!&ndash;    <style>&ndash;&gt;-->
<!--    &lt;!&ndash;        body{&ndash;&gt;-->
<!--    &lt;!&ndash;        background-color:#3e3e3e;&ndash;&gt;-->
<!--    &lt;!&ndash;        color:white;&ndash;&gt;-->
<!--    &lt;!&ndash;        }&ndash;&gt;-->
<!--    &lt;!&ndash;    </style>&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />-->
<!--    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container text-center">-->
<!--    <h1>Welcome to Aru-taboraCollege </h1><P>&#128512;</P>-->
<!--    &lt;!&ndash;    <h3><a th:href="@{/users}">List of Users</a></h3>&ndash;&gt;-->
<!--    <h3><a th:href="@{/register}">Register</a></h3>-->
<!--    <h3><a th:href="@{/login}">Login</a></h3>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->